article
  h2 Projects
  p.
    As a Software Craftsman, I enjoy keeping my skills sharp.
    One vector I use to achieve this is open source software.
    Reading source code can be a great learning experience,
    and contributing to the open source community is great practice.
    Below, you will find a sumary of my GitHub.
  section.github
    .user
      .user-data.avatar
        a(rel='external')
          img.profile-pic(height=80, width=80)
          p.login
      | &nbsp;
      .user-data.followers
        a.stat(rel='external')
          strong.value
          | followers
      | &nbsp;
      .user-data.following
        a.stat(rel='external')
          strong.value
          | following
      | &nbsp;
      .user-data.repo-count
        a.stat(rel='external')
          strong.value
          | repos
    ul.repos
      li.repo
        h4.title
          a(rel='external')
        p.description
        ul.stats
          li.issues.repo-data
            a(title='issues', rel='external')
              strong.value
              | open issues
          li.stargazers.repo-data
            a(title='stargazers', rel='external')
              strong.value
              | stargazers
