.header-component
  text-align center
  padding 1em
  .avatar
    display inline-block
  .nav
    margin-top 2em
    & > a, span
      width: 25%
      &.material-icons
        @media screen and (max-width: 700px)
          display none !important
