section.section--center.mdl-card.mdl-shadow--2dp
  .mdl-card__title
    h4.mdl-card__title-text Bio
  .mdl-card__supporting-text
    p
      | By trade, I'm a Software Engineer at&nbsp;
      a(href='https://bn.co') Brand Networks
      | .
      | I've worked on projects both big and small&mdash;some spending millions of dollars buying ads on social channels like Facebook and Twitter.
      | My goal is to be the mystical "10x engineer" by developing tools and processes that turn 10 1x engineers into 2x engineers.
    p
      | Outside of work, I like to play disc golf at the local courses.
      | Rochester is lucky enough to have over a dozen worth playing.
      | If you're interested, you can find out more a&nbsp;
      a(href='http://grdgc.org/') GRDGC
      | .
