main
  padding-top 3em

a
  text-decoration none

section.section--center
  max-width 860px
  margin-bottom 4em
  button
    position absolute
    top 8px
    right 8px

.github
  display none
  &.rendered
    display block
  .user
    h4
      padding-bottom 1em
    .stat
      text-align center
      font-size 1.5em
      .value
        font-size 2em
        font-weight 700
