@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #566b78;
  overflow-y: scroll;
}

header {
  background-color: #263d36;
  background-image: url("header.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 0;
  text-align: center;
}

header img {
  border: 1px solid rgba(232, 28, 79, 0.5);
  display: inline-block;
  height: 150px;
  vertical-align: top;
  width: 150px;
  border-radius: 50%;
}

header h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
}

nav {
  text-align: justify;
}

@media (max-width: 600px) {
  nav {
    text-align: center;
  }
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul:after {
  content: "";
  display: inline-block;
  width: 100%;
}

nav li {
  display: inline-block;
  margin-top: 0.6rem;
}

nav li:after {
  content: "\00a0";
}

nav a {
  display: inline-block;
  text-align: center;
  width: 11em;
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  font-size: 0.6rem;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: background;
}

header nav a {
  color: white;
}

main nav a {
  width: 16em;
}

nav a:hover,
nav a.active {
  background:  #e81c4f;
  color: white;
}

header > div,
main {
  margin: 0 auto;
  max-width: 40rem;
}

main {
  padding: 3vw 0;
}

main p {
  text-align: justify;
}

h1,
h2,
strong {
  color: #333;
}

a {
  color: #e81c4f;
}
